.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
/.nb-gradle/
jworker-demo-client/src/main/resources/redis.properties
jworker-demo-server/src/main/resources/redis.properties
